<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

        <title>Index</title>
        
        <style>
            body { font-family: 'Montserrat', sans-serif; text-decoration: none; background: #f8f9fa; }
            nav { font-size: 20px; background-color: #011a33 !important; color: #fff; }
            footer { }
        </style>

    </head>
    <body>

        <nav class="navbar navbar-light justify-content-between">
            <div style="width: 100%; display: inline; padding: 5px 0; border-bottom: 1px solid #696a6b;">
                <a class="navbar-brand"> <%= pageInfo.title %> </a>
            </div>
            <div style="width: 100%; display: inline; padding: 7px; text-align: right;">
                <span> VALOR TOTAL: <%= pageInfo.total %> </span>
            </div>
        </nav>

        <section></section>

        <footer>
            <div class="container" style="width: 80%;">
                <div class="row">
                    <div class="col align-self-start">
                    One of three columns
                    </div>
                    
                    <div class="col align-self-center">
                    One of three columns
                    </div>
                    
                    <div class="col align-self-end">
                    One of three columns
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>